<div class="container-fluid mt-5">
            

    <div class="navbar float-end">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" [formControl]="searchControl">
            <button class="btn btn-outline-success" (click)="search()">Buscar</button>
          </form>
        </div>
    </div>
          
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Teléfono</th>
                            <th>Ciudad</th>
                            <th>C.P.</th>
                            <th>Dirección</th>
        
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{library?.id}}</td>
                            <td>{{library?.name}}</td>
                            <td>{{library?.telephoneNumber}}</td>
                            <td>{{library?.city}}</td>
                            <td>{{library?.zipCode}}</td>
                            <td>{{library?.address}}</td>
                        </tr>
                    </tbody>
                </table>
        
    <div *ngIf="notFound" class="alert alert-danger" role="alert">
       Librería no encontrada
    </div>
</div>


       

