<div class="container-fluid mt-5">
    <div class="d-flex flex-row justify-content-center">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.roles}}</td>
                    <td>
                        <button (click)="goToEdit(user.id)" class="btn btn-outline-primary mr-2" type="button">
                            Editar
                        </button>
                        <button (click)="delete(user.id)" class="btn btn-outline-danger" type="button">
                            Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>