<div class="container-fluid mt-5">
    <div class="d-flex flex-row justify-content-center">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Autor</th>
                    <th>Marca</th>
                    <th>Precio</th>
                    <th>Librería</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books">
                    <td>{{book.id}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.description}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.brand}}</td>
                    <td>${{book.price}}</td>
                    <td>{{setLibraryName(book.libraryId, libraries)}}</td>
                    <td>
                        <button (click)="delete(book.id)" class="btn btn-outline-danger" type="button">
                            Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>