<div class="container-fluid mt-5">
    <div class="d-flex flex-row justify-content-center">
        <div class="card w-50">
            <h5 class="card-header text-center">Nuevo Libro</h5>
            <div class="card-body">
                <form [formGroup]="formGroup">

                    <div class="mb-3">
                      <label for="title" class="form-label" >Título</label>
                      <input type="text" class="form-control" id="title" [formControl]="controls.TitleControl">
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Descripción</label>
                        <textarea name="descriptionTextArea" id="description" cols="30" rows="4" class="form-control" [formControl]="controls.DescriptionControl"></textarea>
                    </div>
        
                    <div class="mb-3">
                      <label for="author" class="form-label" >Autor</label>
                      <input type="text" class="form-control" id="author" [formControl]="controls.AuthorControl">
                    </div>

                    <div class="mb-3">
                        <label for="brand" class="form-label" >Marca</label>
                        <input type="text" class="form-control" id="brand" [formControl]="controls.BrandControl">
                    </div>

                    <div class="mb-3">
                        <label for="price" class="form-label">Precio</label>
                        <input type="number" class="form-control" id="price" [formControl]="controls.PriceControl">
                    </div>

                    <div class="mb-3">
                        <label for="city" class="form-label">Librería</label>
                        <select class="form-control" name="cities" id="city" [formControl]="controls.LibraryIdControl">
                            <option *ngFor="let library of libraries" [value]="library.id">{{library.name}}</option>
                        </select>
                    </div> 
                    <button (click)="submit()" class="btn btn-primary float-end">Guardar</button>
                </form>

                <div *ngIf="showError" class="alert alert-danger" role="alert">
                    Sucedió un error
                </div>
            </div>
          </div>
        

    </div>
</div>