<div class="container-fluid">

    <!-- Navbar -->
    <nav class="p-1 bg-dark text-white">
        <div class="d-flex flex-row justify-content-center mb-2">
            <h1><a class="navbar-brand" [routerLink]="['/home']">Librarian System</a></h1>
        </div>
        <div class="d-flex flex-row justify-content-center gap-5">
        
            <div class="dropdown nav-item">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Librerías
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" [routerLink]="['libraries/new']">Registrar</a></li>
                    <li><a class="dropdown-item" [routerLink]="['libraries']">Listar</a></li>
                    <li><a class="dropdown-item" [routerLink]="['libraries/search']">Buscar</a></li>
                </ul>
            </div>
            <div class="dropdown nav-item">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Libros
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" [routerLink]="['books/new']">Registrar</a></li>
                  <li><a class="dropdown-item" [routerLink]="['books']">Listar</a></li>
                  <li><a class="dropdown-item" [routerLink]="['books/search']">Buscar</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /Navbar -->   
    
    <!--This is where the components render-->
    <router-outlet></router-outlet>

    <!-- Footer -->
    <footer class="fixed-bottom">
        <div class="d-flex flex-row justify-content-center">
            <strong>Derechos de autor &copy; {{currentYear}} <a href="#">www.librariansystem.com</a> </strong>  . Todos los derechos reservados
        </div>
    </footer>
    <!-- /Footer -->   

</div>