<div class="container-fluid mt-5">

    <div class="d-flex flex-row justify-content-center">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Ciudad</th>
                    <th>C.P.</th>
                    <th>Dirección</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let library of libraries">
                    <td>{{library.id}}</td>
                    <td>{{library.name}}</td>
                    <td>{{library.telephoneNumber}}</td>
                    <td>{{library.city}}</td>
                    <td>{{library.zipCode}}</td>
                    <td>{{library.address}}</td>
                    <td>
                        <button class="btn btn-outline-danger" type="button" (click)="delete(library.id)">
                            Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
